<div class="p-field">
    <label for="analysis_paths">Analysis Paths</label>
    <p-fileUpload name="analysis_paths" (onUpload)="onUpload($event)" mode="basic" [multiple]="true" [auto]="true"></p-fileUpload>
</div>

<div class="p-field-checkbox">
    <p-checkbox name="modes" value="power" [(ngModel)]="modes">Power</p-checkbox>
    <p-checkbox name="modes" value="heart_rate" [(ngModel)]="modes">HeartRate</p-checkbox>
</div>

<div class="p-field">
    <button pButton type="button" label="Load Data" icon="pi pi-refresh" (click)="loadData()"></button>
</div>

<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th>Start Datetime</th>
            <th>End Datetime</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Sport</th>
            <th>Heart Rate</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>{{rowData.start_datetime}}</td>
            <td>{{rowData.end_datetime}}</td>
            <td>{{rowData.duration}}</td>
            <td>{{rowData.distance}}</td>
            <td>{{rowData.sport}}</td>
            <td>{{rowData.heart_rate}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loader">
        <p-skeleton></p-skeleton>
    </ng-template>
</p-table>
